--extra-index-url https://www.piwheels.org/simple

# Dépendances essentielles (production)
Django==5.1.4
gunicorn==23.0.0
psycopg==3.2.3
django-redis==5.4.0
redis==5.2.1
pyjwt==2.10.1
sqlparse==0.5.3
bleach==6.2.0
PyYAML>=6.0
asgiref>=3.6.0
django_bom>=1.234