[Unit]
Description=__APP__ server
After=network.target redis.service postgresql.service

[Service]
User=__APP__
WorkingDirectory=__DATA_DIR__/

# Activation du venv et lancement de Gunicorn
ExecStart=__DATA_DIR__/venv/bin/gunicorn --config __DATA_DIR__/gunicorn.conf.py wsgi

# Gestion des redémarrages et logs
RestartForceExitStatus=100
Restart=on-failure
RestartSec=5s
StandardOutput=append:__LOG_FILE__
StandardError=inherit

# Sécurité renforcée via systemd (sandboxing)
NoNewPrivileges=yes
PrivateTmp=yes
RestrictNamespaces=yes
RestrictRealtime=yes
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
LockPersonality=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap

# Restrictions des capacités système pour éviter l'élévation de privilèges
CapabilityBoundingSet=~CAP_RAWIO CAP_MKNOD
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_TIME CAP_SYS_MODULE CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LEASE CAP_LINUX_IMMUTABLE CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_MAC_ADMIN CAP_MAC_OVERRIDE
CapabilityBoundingSet=~CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYSLOG

[Install]
WantedBy=multi-user.target
